
            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>
            <link rel="stylesheet" href="css/harViewer.css" type="text/css"/>
            <div id="content" class="span10">
            <!-- content starts -->
            

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#/ria">监控数据</a>
                    </li>
                </ul>
            </div>
            <div class="row-fluid">
                <div>
                  <select ng-change="changeMode()" ng-options="m.name for m in models" ng-model="model"><option value="">-- 请选择 --</option></select>
                  <select ng-show="model.type==1" ng-change="changeStat()" ng-options="s.name for s in stats" ng-model="stat"><option value="">-- 请选择 --</option></select>
                  <select ng-show="model.type==2" ng-change="changeUrl()" ng-options="u.name for u in urls" ng-model="pageUrl"><option value="">-- 请选择 --</option></select>
                  <select ng-show="model.type==2" ng-change="changeType()" ng-options="t.name for t in types" ng-model="pageType"><option value="">-- 请选择 --</option></select>
                </div>
            </div>
            <div id="summary" ng-show="model.type==1">
                <div class="row-fluid sortable">    
                    <div class="box span12">
                      <div class="box-header well" data-original-title>
                        <h2><i class="icon-user"></i> 数据统计</h2>
                        <div class="box-icon">
                          <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                          <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                      </div>
                      <div class="box-content">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="center" style="width:10%;text-align:center;">产品线</th>
                              <th class="center" style="width:10%;text-align:center;">页面</th>
                              <th colspan="2" class="center" style="width:10%;text-align:center;">首包时间(ms)</th>
                              <th colspan="2" class="center" style="width:10%;text-align:center;">白屏时间(ms)</th>
                              <th colspan="2" class="center" style="width:10%;text-align:center;">首屏时间(ms)</th>
                              <th colspan="2" class="center" style="width:10%;text-align:center;">评分</th>
                            </tr>
                          </thead>   
                          <tbody>
                            <tr ng-repeat="sum in sums">
                                <td ng-if="$index==0||sum.group!=sums[$index-1].group" rowspan="{{sum.len}}" style="vertical-align: middle; text-align:center;">{{sum.group}}</td>
                                <td><a href="javascript:;" ng-click="getDetail(sum.url)">{{sum.name}}</a></td>
                                <td class="center" style="text-align:center;">{{sum.timeToFirstResFirstByte}}</td><td class="center" style="text-align:center;"><span ng-if="sum.timeToFirstResFirstByter>0" style="color:red">{{sum.timeToFirstResFirstByter}}%</span><span ng-if="sum.timeToFirstResFirstByter<0" style="color:green">{{sum.timeToFirstResFirstByter}}%</span><span ng-if="sum.timeToFirstResFirstByter==0" style="color:green">{{sum.timeToFirstResFirstByter}}%</span></td>
                                <td class="center" style="text-align:center;">{{sum.timeToFirstPaintRequested}}</td><td class="center" style="text-align:center;"><span ng-if="sum.timeToFirstPaintRequestedr>0" style="color:red">{{sum.timeToFirstPaintRequestedr}}%</span><span ng-if="sum.timeToFirstPaintRequestedr<0" style="color:green">{{sum.timeToFirstPaintRequestedr}}%</span><span ng-if="sum.timeToFirstPaintRequestedr==0" style="color:green">{{sum.timeToFirstPaintRequestedr}}%</span></td>
                                <td class="center" style="text-align:center;">{{sum.timeToFirstScreenFinished}}</td><td class="center" style="text-align:center;"><span ng-if="sum.timeToFirstScreenFinishedr>0" style="color:red">{{sum.timeToFirstScreenFinishedr}}%</span><span ng-if="sum.timeToFirstScreenFinishedr<0" style="color:green">{{sum.timeToFirstScreenFinishedr}}%</span><span ng-if="sum.timeToFirstScreenFinishedr==0" style="color:green">{{sum.timeToFirstScreenFinishedr}}%</span></td>
                                <td class="center" style="text-align:center;">{{sum.score}}</td><td class="center" style="text-align:center;"><span ng-if="sum.scorer>0" style="color:red">{{sum.scorer}}%</span><span ng-if="sum.scorer<0" style="color:green">{{sum.scorer}}%</span><span ng-if="sum.scorer==0" style="color:green">{{sum.scorer}}%</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div><!--/span-->
                </div>
            </div>
            <div id="chart" ng-show="model.type==2">
                <div class="row-fluid sortable" id="harViewer" style="display:none;">
                    <div class="box span12">
                        <div class="box-header well">
                            <h2><i class="icon-list-alt"></i> 瀑布图</h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="waterfall"></div>
                        </div>
                        <div class="box-header well" style="display:none;">
                            <h2><i class="icon-list-alt"></i> 统计图</h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content" style="display:none;">
                            <div id="stats"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row-fluid sortable">
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart0" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart1" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid sortable">
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart2" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart3" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid sortable">
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart4" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart5" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid sortable">
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart6" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart7" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid sortable">
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart8" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                    <div class="box span6">
                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i></h2>
                            <div class="box-icon">
                                <a href="javascript:void(0);" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                <a href="javascript:void(0);" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="chart9" style="height:300px; display:block;"></div>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
            </div>
                    <!-- content ends -->
            </div><!--/javascript:void(0);content.span10-->
